/**************************/
/* BELOW 1500px (Smaller desktops) */
/**************************/
@media (max-width: 94em) {
  .hero-about-me {
    font-size: 4.8rem;
  }
  .hero-title {
    font-size: 2.4rem;
  }
  .hero-description {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 1104px (Tablets) */
/**************************/

@media (max-width: 69em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .hero {
    gap: 6rem;
  }
}

/**************************/
/* BELOW 800px (small tablets) */
/**************************/

@media (max-width: 50em) {
  .hero {
    padding: none;
    grid-template-columns: 1fr;
  }
  .hero-text-box {
    padding: 2.4rem 4.8rem;
  }
  .hero-img-box {
    grid-row: 1;
    /* width: 40%; */
    /* height: 575px; */
    /* max-width: 12rem; */
    object-fit: fill;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }

  .section-container {
    padding: 1.6rem 3.2rem;
  }
  .skills {
    grid-template-columns: 1fr;
    gap: 1.6rem;
    /* justify-content: center; */
  }
  /* .skills-description {
    padding: 0.6rem 1.2rem;
  } */
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 0 0;
  }
}
